---
layout: default
header_image: "/assets/images/bg/bg-portfolio.jpg"
title: PruebaNixon
description: Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore
  et dolore magna aliqua enim ad minim veniam quis.

---
{% include page_header.html %}

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="row justify-content-center">
              Hoal Nixon
              </div>
            </div>
            <div class="col-lg-4">
              {% include sidebar.html %}
            </div>
        </div>
        {% include pagination.html %}
    </div>
</section>